body {
	font: 16px Trebuchet MS, sans-serif;
	color: black;
	background-image: url("resources/background.png");
	background-repeat: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 3px 4px;
    z-index: 1;
	
}

a:link {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.dropdown-content a {
	padding-top: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}